body { font-family: $body; }

i, em { font-style: italic; }
b, strong { font-weight: bold; }

a {
    text-decoration: none;
    transition: background .25s, color .25s, border-color .25s, opacity .25s;
}

p {
    margin-bottom: .5em;
    line-height: 1.5;
}