// Define your fonts here. Make sure font families are linked.

$helvetica : Helvetica, Arial, sans-serif;



// Use these more generic aliases in case the font gets changed.
$body: $helvetica;
$display: $helvetica;